datasets>=2.16.0
webdataset
s3fs==2023.10.0
boto3
accelerate
wandb
torchmetrics
torch==2.3.0
transformers==4.51.3
einops
sentencepiece
wheel
packaging
tabulate
av
torchvision==0.18.0
evaluate
scipy
scikit-learn
pydantic==2.7.3
matplotlib
seaborn
tiktoken
openai
numpy<2.0.0
triton
peft==0.4.0